<div class="banner">
  <div class="container">
    <div>
      <h1>Spacewagon 🚀</h1>
      <p><span data-controller="typed-js"></span></p>
    </div>
    <%= link_to 'Assign new mission', new_mission_path, class: 'btn btn-light' %>
  </div>
</div>
<div class="container my-4">
  <h2>The Wagon Crew</h2>
  <div class="cards my-3">
    <% @crew_members.each do |member| %>
      <div class="card-product">
        <img src="<%= member.photo_url %>"  />
        <div class="card-product-infos">
          <h3><%= member.name %></h3>
          <p><strong><%= member.position %></strong></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex align-items-baseline gap-2">
    <h2 class="mt-3">Pending missions</h2>
    <%= link_to new_mission_path, class: 'card-mission-link' do%>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
  <% if Mission.all.empty? %>
    <p>No missions yet...</p>
  <% else %>
    <div class="cards my-3">
      <% @missions.each do |mission| %>
        <div class="card"> 
          <div class="card-body">
            <h5 class="card-title"><strong><%= mission.name %></strong></h5>
            <h3 class="card-text"><%= mission.description %></h3>
            <br>
            <h4><strong>Assigned crew:</strong></h4>
          </div>
          <ul class="list-group list-group-flush">
            <% mission.orders.each do |order| %>
            <li class="list-group-item">
              <div class="d-flex align-items-center gap-2">
                <%= image_tag order.crew_member.photo_url, class: 'avatar' %>
                <div class="flex-grow-1">
                  <p class="m-0"><strong><%= order.crew_member.name %></strong></p>
                  <p class="m-0 opacity-75"><%= order.comment.empty? ? 'No comment added...' : order.comment %></p>
                </div>
                <%= link_to order_path(order), data: { turbo_method: :delete, turbo_confirm: "Remove #{order.crew_member.name}?" }, class: 'card-remove-link' do %>
                  <i class="fa-solid fa-user-minus"></i>
                <% end %>
              </div>
              
            </li>
            <% end %>
          </ul>
          <%= link_to 'Add crew member', new_mission_order_path(mission), class: 'btn btn-light' %>
          <%= link_to mission_path(mission), data: { turbo_method: :delete, turbo_confirm: "Cancel mission?" }, class: 'card-cancel-link' do %>
            <i class="fa-solid fa-x"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
